.input {
  z-index: 1;
  & ~ .chevron {
    transform: rotate(0);
  }
  &:focus {
    & ~ .outline {
      @apply ring-2 ring-inset ring-indigo-600;
    }
    & ~ .chevron {
      // @apply rotate-90;
      transform: rotate(90deg);
    }
  }
}

.outline {
  z-index: 0;
}

.inputWrapper {
  margin-bottom: 0.5rem;
  position: relative;

  .indicator {
  }
}

.dropdown {
  @apply shadow-xl border border-indigo-200 rounded-md mt-2 fixed bg-white;
  @apply min-w-40;
  li {
    @apply text-neutral-700 hover:text-neutral-900 py-1;
  }
}
