@reference "tailwindcss";
.input {
  z-index: 1;
  & ~ .chevron {
    transform: rotate(0);
  }
  &:focus {
    & ~ .outline {
      @apply ring-2 ring-inset ring-indigo-600;
    }
    & ~ .chevron {
      // @apply rotate-90;
      transform: rotate(90deg);
    }
  }
}

.outline {
  z-index: 0;
}

.inputWrapper {
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
  .indicator {
  }
}

.dropdown {
  @apply shadow-xl border rounded-sm mt-2 fixed bg-white;
  @apply min-w-40;
  li {
    // @apply text-neutral-700 hover:text-neutral-900 py-1;
  }
}

// .rotation {
//   transform: rotate(0deg);
// }

// .rotationActive {
//   -webkit-animation: spin 0.2s linear 1 alternate forwards;
//   -moz-animation: spin 0.2s linear 1 alternate forwards;
//   animation: spin 0.2s linear 1 alternate forwards;
// }

// @-moz-keyframes spin {
//   100% {
//     -moz-transform: rotate(180deg);
//   }
// }
// @-webkit-keyframes spin {
//   100% {
//     -webkit-transform: rotate(180deg);
//   }
// }
// @keyframes spin {
//   100% {
//     -webkit-transform: rotate(180deg);
//     transform: rotate(180deg);
//   }
// }
