html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  // @media (prefers-color-scheme: light) {
  //   color-scheme: light;
  // }
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
