@import "tailwindcss";
/* Enable class-based dark mode (`dark:` responds to `.dark` on <html>). */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: oklch(51.1% 0.262 276.966);
  --color-success: oklch(62.7% 0.194 149.214);
  --color-danger: oklch(57.7% 0.245 27.325);
}

@layer components {
  .card {
    /* shadow-2xl shadow-slate-200 gap-2 dark:shadow-slate-600 */
    @apply shadow-2xl shadow-slate-200 gap-2 dark:shadow-slate-600 bg-white rounded-md dark:bg-slate-500;
  }
}
