[mysqld_safe]
timezone = UTC

[mysql]

[mysqld]
innodb-lock-wait-timeout=300
innodb_buffer_pool_size=100M
sort_buffer_size=4M
max_allowed_packet=1024M
net_read_timeout=3600
net_write_timeout=3600
wait_timeout=3600
max_connections=500
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

[mysqldump]
max_allowed_packet=1024M
user='mysql'
password='mysql'

[client]
