[mysqld_safe]
timezone = UTC

[mysql]
default-character-set=utf8mb4

[mysqld]
lower_case_table_names=1
collation-server=utf8mb4_bin
init-connect='SET NAMES utf8mb4'
character-set-server=utf8mb4_unicode_ci
default-authentication-plugin=mysql_native_password
explicit-defaults-for-timestamp=1
innodb-lock-wait-timeout=300
innodb_buffer_pool_size=100M
sort_buffer_size=4M
max_allowed_packet=1024M
net_read_timeout=3600
net_write_timeout=3600
wait_timeout=3600
max_connections=500
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

[mysqldump]
max_allowed_packet=1024M
user='mysql'
password='mysql'

[client]
default-character-set=utf8mb4
