@reference "tailwindcss";
.wrapper {
  position: relative;
}

.dropdown {
  @apply shadow-xl rounded-sm mt-2 fixed bg-white;
}

.rotation {
  transform: rotate(0deg);
}

.rotationActive {
  -webkit-animation: spin 0.2s linear 1 alternate forwards;
  -moz-animation: spin 0.2s linear 1 alternate forwards;
  animation: spin 0.2s linear 1 alternate forwards;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
